__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.skjold_cache

__pycache__/
wheels/
pip-wheel-metadata/

# local files
/var
/staticfiles
/media
/.gitlab
/api
/bin
/mk
/qa
/tests
